<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Муррр</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
  <h1 class="proverb">
    Всем доброго дня
  </h1>
  <p class="main">
    Куй железо пока горячо
  </p>
  <h2 class="proverb">Форма поиска</h2>
  <form action = 'results.html'>
    <input type = 'text' value="" placeholder = 'строка поиска' class="main">
    <input type="submit" value="Искать горячих мужчин" class="main">
    <p><select name = 'where' class="main">
      <option>В столовой</option>
      <option value = ''>В книге</option>
      <option selected = ''>Под горой</option>
    </select></p>
  </form>

    <a href = 'index.html'>Найти</a>
</body>
</html>