<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Я натурал</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
    <h1 class="proverb">
    Ультрамега
    </h1>
        <h2 class="proverb">
        Ладно
        </h2>
            <h3 class="proverb">
            Я натурал
            </h3>
            <p class="main">
                Только самые сочные мужчины
            </p>
            <p class="main">
                только ln
            </p>
    <a href = 'from.html'>Нажми</a>
</body>
</html>